@import '../../lib/styles/fonts/font.css';

.ReadDiary {
    font-family: "NeoDunggeunmo";
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
}

.diary-container {
    font-family: "S-CoreDream-3Light";
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0 auto;
    width: 90%;
    border: 1px solid #333;
    padding: 30px 20px 30px 20px;
    border-radius: 5px;
    margin-bottom : 50px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    margin-top: -1.5rem;
    margin-right: 3.5rem;
}

.buttons {
    width: 5rem;
    height: 2rem;
    border: none;
    outline: none;
    margin-right: 0.3rem;
}

.chart-container {
    margin: 0 auto;
    width: 400px;
}

.feedback-buttons {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}