@import '../../lib/styles/fonts/font.css';

.StatsDiary {
    font-family: "NeoDunggeunmo";
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.chart-wrapper {
    margin: 0 auto;
    width: 1200px;
}

.folders {
    display: flex;
    width: 90%;
    text-align: center;
    margin: 5rem auto;
}

.image {
    flex: 1;
}

.image.neutralSelect {
    flex: 1;
    background: radial-gradient(circle, rgb(128, 128, 128, 1.0) 40%, rgb(128, 128, 128, 0.5) 20% , rgb(128, 128, 128, 0.0));
    border-radius: 70%;
}

.image.happySelect {
    flex: 1;
    background: radial-gradient(circle, rgb(238, 241, 142, 1.0) 40%, rgb(238, 241, 142, 0.5) 20% , rgb(238, 241, 142, 0.0));
    border-radius: 70%;
}

.image.sadSelect {
    flex: 1;
    background: radial-gradient(circle, rgb(98, 122, 196, 1.0) 40%, rgb(98, 122, 196, 0.5) 20% , rgb(98, 122, 196, 0.0));
    border-radius: 70%;
}

.image.fearSelect {
    flex: 1;
    background: radial-gradient(circle, rgb(96, 182, 113, 1.0) 40%, rgb(96, 182, 113, 0.5) 20% , rgb(96, 182, 113, 0.0));
    border-radius: 70%;
}

.image.disgustSelect {
    flex: 1;
    background: radial-gradient(circle, rgb(223, 130, 67, 1.0) 40%, rgb(223, 130, 67, 0.5) 20% , rgb(223, 130, 67, 0.0));
    border-radius: 70%;
}

.image.angerSelect {
    flex: 1;
    background: radial-gradient(circle, rgb(228, 77, 77, 1.0) 40%, rgb(228, 77, 77, 0.5) 20% , rgb(228, 77, 77, 0.0));
    border-radius: 70%;
}

.image.surpriseSelect {
    flex: 1;
    background: radial-gradient(circle, rgb(148, 116, 200, 1.0) 40%, rgb(148, 116, 200, 0.5) 20% , rgb(148, 116, 200, 0.0));
    border-radius: 70%;
}

.list {
    margin: 0 auto;
    justify-content: center;
}

.diary-card {
    /* text-align: center; */
    margin: 0 auto;
    width: 90%;
    border: 1px solid #333;
    justify-content: center;
    padding: 30px 40px 30px 40px;
    border-radius: 5px;
    margin-bottom : 30px;
    cursor: pointer;
    position: relative;
}

.date-wrapper {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.content-wrapper {
    width: 100%;
}