@import '../../lib/styles/fonts/font.css';

.NeoDunggeunmo {
    font-family: "NeoDunggeunmo";
    font-weight: normal;
}

.contents {
    text-align: center;
}

.emotion {
    background-color: aquamarine;
}