@import '../../lib/styles/fonts/font.css';

.NeoDunggeunmo {
    font-family: "NeoDunggeunmo";
    font-weight: normal;
}

.username {
    font-family: "NeoDunggeunmo";
    font-weight: normal;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
}